@import "../../../sass/variables";

.screen {
  height: fit-content;
  width: 100%;

  .movies-list {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 2rem;

    .movie-cards {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;

      @media screen and (max-width: 1256px) {
        grid-template-columns: repeat(4, 1fr);
      }
      @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (max-width: 512px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  .error-box {
    display: flex;
    justify-content: center;
    background-color: red;
    color: white;
    padding: 5rem;
  }
}
