$fontFamily: "Roboto", sans-serif;
// colors
$bpdyColor: #faf0e6;
$navigationBG: #fff;
$searchBoxBG: #d8d8d8;
$cardTextColor: #4a4a4a;
$cardRatingColor: #9b9b9b;
// shadow
$navBarFilter: drop-shadow(0px 2px 2px #9b9b9b);
$cardBoxShadow: 0px 2px 2px #9b9b9b;
// border radius
$borradius: 0.5rem;
// fontSize
$fontSizeVSmaller: 0.5rem;
$fontSizeSmaller: 0.8rem;
$fontSizeNormal: 1rem;
$fontSizeMedium: 1.5rem;
$fontSizeLarge: 1.625rem;
// transition
$transition: all 0.4s ease-in-out;
