@import "../../../sass/variables";

.movies-list {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding: 2rem;

  .movie-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    .card {
      width: 100%;
      height: 28.125rem;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      border-radius: $borradius;
      box-shadow: $cardBoxShadow;

      .card-image {
        height: 21.875rem;
        img {
          width: 100%;
          height: inherit;
          border-top-left-radius: $borradius;
          border-top-right-radius: $borradius;
          background-color: #ffffff;
        }
      }
      .movie-info {
        height: auto;
        padding: 0.5rem;
        .row {
          display: flex;
          justify-content: space-between;
          margin-bottom: 0.625rem;
          font-size: $fontSizeSmaller;
          .title {
            color: $cardTextColor;
            font-weight: 500;
          }
          .rating {
            color: $cardRatingColor;
            font-weight: 400;
          }
        }
        .description {
          p {
            font-size: $fontSizeVSmaller * 1.25;
            color: $cardTextColor;
            font-weight: 400;
          }
        }
      }
    }

    @media screen and (max-width: 1256px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 512px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
